 <!-- Page Content -->
<div class="col-md-3">
	<br><br>
    <p>Categorías:</p>
    <div class="list-group">
    	<% if @category == 1 %>
        	<a href="1" class="list-group-item seleccionado">Celulares</a>
        <% else %>
        	<a href="1" class="list-group-item">Celulares</a>
        <% end %>
        <% if @category == 2 %>
        	<a href="2" class="list-group-item seleccionado">Videojuegos</a>
        <% else %>
        	<a href="2" class="list-group-item">Videojuegos</a>
        <% end %>
        <% if @category == 3 %>
        	<a href="3" class="list-group-item seleccionado">Deportes</a>
        <% else %>
        	<a href="3" class="list-group-item">Deportes</a>
        <% end %>
    </div>

    <p>Ordena:</p>
    <div class="list-group">
        <a href="/orden/alfabeticamente/<%= session[:alfabeticamente] %>" class="list-group-item">Alfabeticamente</a>
       	<a href="/orden/precio/<%= session[:precio] %>" class="list-group-item">Precio</a>
    </div>
</div>

<div class="col-md-9">
    <div class="row">
	    <% if @products.size > 0 %>
	    	<% @products.each do |product| %>
		        <a href="/producto/<%= product[:id] %>">
			        <div class="col-xs-8 col-sm-6 col-lg-4 col-md-6" style='min-width:290px'>
			            <div class="thumbnail product">
			            	<div style='height:150px'>
			            		<% if product[:foto] != nil %>
			                		<img src='<%=product[:foto]%>' style='height:100%'alt="">
				                <% else %>
				                	<img src="http://placehold.it/320x150" style='height:100%' alt="">
				                <% end %>
			                </div>
			                <div class="caption">
			                    <h4>$<%=product[:precio]%></h4>
			                    <h4><%= product[:nombre] %>
			                    </h4>
			                    <% if product[:descripcion].size <= 70 %>
			                    	<p><%=product[:descripcion]%></p>
			                    <% else %>
			                    	<p>...</p>
			                    <% end %>
			                </div>
			            </div>
			        </div>
		    	</a>
		    <% end %>
	     <% else %>
	     	<br><br>
	    	<center><h2>Actualmente no hay ningún producto en esta categoría</h2></center>
	     <% end %>
   	</div>
</div>
